$carousel-max-width: 800px;
$transition-time: 2s;

@mixin transition($property, $time, $ease) {
    transition: $property $time $ease;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: $carousel-max-width;
    margin: auto;
    overflow: hidden;

    &-item {
        min-width: 100%;
        @include transition(opacity, $transition-time, ease-in-out);
        position: absolute;
        opacity: 0;

        &.active {
            opacity: 1;
            top: 0;
            left: 0;
            z-index: 1;
            @include transition(opacity, $transition-time, ease-in-out);
        }
    }

    img {
        width: 100%;
        display: block;
    }
}