$carousel-max-width: 800px;
$transition-time: 2s;

@mixin transition($property, $time, $ease) {
    transition: $property $time $ease;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.carousel {
    z-index: 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: $carousel-max-width;
    margin: auto;
    overflow: hidden;

    &-inner {
        display: flex;
        flex: 1;
        align-items: center;
    }
    &-item {
        min-width: 100%;
        @include transition(opacity, $transition-time, ease-in-out);
        position: absolute;
        opacity: 0;

        &.active {
            opacity: 1;
            z-index: 1;
            @include transition(opacity, $transition-time, ease-in-out);
        }
    }

    img {
        width: 100%;
        display: block;
    }
}