<div class="publications">
    <div class="publication">
        <img src="../../../../assets/published-books/alvarezhornia.com-Tratos-Pablo-G-Alvarez-768x1086.jpg" alt="Tratos">
        <div class="details">
            <h3>«Tratos. Un ensayo fotográfico analógico» (2019)</h3>
            <p>This book comprehends a series of 35mm and medium format photographic works between 2018 and 2019, accompanied by an epilogue written by Carlos Díaz Arasanz.</p>
            <p>It combines portraiture and landscape photography ranging from Asturias to London.</p>
            <a href="link-to-buy-tratos" target="_blank" class="buy-button">Buy</a>
        </div>
    </div>
    <div class="publication">
        <img src="../../../../assets/published-books/alvarezhornia.com-Metaverso-Sinderesis--726x1024.jpg" alt="Metaversos">
        <div class="details">
            <h3>«Metaversos. Lo Real en lo Virtual» (2022)</h3>
            <p>Chapter 12: <em>A Brief Exploration of Filmic Space: Recognising the Image as Reality from Ophüls to Duras.</em></p>
            <p>This chapter outlines the possibilities of exploring the filmic space within the self-restrained margins of Classical Hollywood and suggests some of its ramifications beyond modern approaches.</p>
            <a href="link-to-buy-metaversos" target="_blank" class="buy-button">Buy</a>
        </div>
    </div>
</div>
