<div class="filmography">
    <div class="film">
        <a href="https://mubi.com/es/es/films/que-cara-mas-larga" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/narrative/que-cara-mas-larga-pablo-alvarez-hornia-alvarezhornia-1024x576.jpg"
                alt="Qué cara más larga">
        </a>
        <h2>Qué cara más larga</h2>
        <p>2023</p>
    </div>
    <div class="film">
        <a href="https://www.imdb.com/title/tt24163600/?ref_=nm_flmg_t_1_dr" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/narrative/helping-grete-westheim-pablo-alvarez-hornia-film-1024x576.jpg"
                alt="Helping">
        </a>
        <h2>Helping</h2>
        <p>2020</p>
    </div>
    <div class="film">
        <a href="https://www.imdb.com/title/tt10660658/?ref_=nm_flmg_t_2_dr" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/narrative/alvarezhornia.com-Untitled_1.99.1-1024x576.jpg" alt="Cachopo">
        </a>
        <h2>Cachopo</h2>
        <p>2019</p>
    </div>
    <div class="film">
        <a href="https://www.imdb.com/title/tt10140584/?ref_=nm_flmg_c_3_dr" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/narrative/fraterchild-grete-westheim-callum-cooke-pablo-alvarez-hornia-film-1024x576.jpg"
                alt="Fraterchild">
        </a>
        <h2>Fraterchild</h2>
        <p>2019</p>
    </div>
    <div class="film">
        <a href="https://www.imdb.com/title/tt9657526/?ref_=nm_flmg_t_4_dr" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/narrative/mileage-grete-westheim-pablo-alvarez-hornia-film-1024x576.jpg"
                alt="Mileage">
        </a>
        <h2>Mileage</h2>
        <p>2019</p>
    </div>
    <div class="film">
        <a href="https://www.imdb.com/title/tt8488234/?ref_=nm_flmg_t_8_dr" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/narrative/cats-and-rats-2018-film-alain-terzoli-gillian-hines-1024x576.jpg"
                alt="Cats and rats">
        </a>
        <h2>Cats and rats</h2>
        <p>2018</p>
    </div>
</div>
<p class="full-filmography"><a href="https://www.imdb.com/name/nm9874461/">Consult full filmography here.</a></p>