<img src="../../../assets/about/alvarezhornia.com-Pablo-Alvarez-Hornia-300x300.jpg" alt="Pablo Alvarez Hornia" class="img-fluid">
<p>Pablo Álvarez-Hornia is a writer, director, photographer and editor based in London and Madrid.</p>
<div class="social_media">
    <a href="https://www.instagram.com/yourusername" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/yourusername" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.imdb.com/name/nm0000000/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-imdb"></i>
      </a>
</div>