<app-carousel [slides]="[
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-Nadia-Khouja-CNV00045-768x1145.jpg' },
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-Pablo-Alvarez-Hornia-75870002-1-768x1145.jpg' },
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-Pablo-CNV00015-768x1145.jpg' },
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-Pablo-G.-Alvarez-91730005-1-768x1145.jpg' },
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-Paulina-Agnieszka-CNV00009-768x1145.jpg' },
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-rainy-london-768x1145.jpg' },
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-Sohaila-Ferrier-020A-768x1145.jpg' },
    { img: 'assets/miscelanea/first_carousel/alvarezhornia.com-sunset-sky-768x1145.jpg' },
    ]" [interval]="firstCarouselInterval">
</app-carousel>
<app-carousel [slides]="[
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-Cesare-Fraticelli-CNV00010-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-CNV00003-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-CNV00035-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-CNV00036-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-Giulia-Negretto-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-Grete-Westheim-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-Grete-Westheim-CNV00059-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-Leo-Tichenko-CNV00003-768x1145.jpg' },
    { img: 'assets/miscelanea/second_carousel/alvarezhornia.com-Luke-Hetherington-768x1145.jpg' },
    ]" [interval]="secondCarouselInterval">
</app-carousel>
<app-carousel [slides]="[
    { img: 'assets/miscelanea/third_carousel/alvarezhornia.com-Almira-Guner-CNV00037-768x1145.jpg' },
    { img: 'assets/miscelanea/third_carousel/alvarezhornia.com-Alvarez-Hornia-CNV00032-768x1145.jpg' },
    { img: 'assets/miscelanea/third_carousel/alvarezhornia.com-Alvarez-Hornia-CNV00058-768x1145.jpg' },
    { img: 'assets/miscelanea/third_carousel/alvarezhornia.com-Asturias-34120030-768x1145.jpg' },
    { img: 'assets/miscelanea/third_carousel/alvarezhornia.com-black-and-white-architecture-768x1145.jpg' },
    { img: 'assets/miscelanea/third_carousel/alvarezhornia.com-black-and-white-sky-768x1145.jpg' },
    { img: 'assets/miscelanea/third_carousel/alvarezhornia.com-colorful-garden-768x1145.jpg' },
    ]" [interval]="thirdCarouselInterval">
</app-carousel>