<app-carousel [slides]="[
    { img: 'assets/home/alvarezhornia.com-CNV00043-768x515.jpg' },
    { img: 'assets/home/alvarezhornia.com-CNV00056-768x515.jpg' },
    { img: 'assets/home/alvarezhornia.com-Pablo-Alvarez-Hornia-1-768x515.jpg' },
    { img: 'assets/home/alvarezhornia.com-Pablo-Alvarez-Hornia-2-768x515.jpg' },
    { img: 'assets/home/alvarezhornia.com-Pablo-Alvarez-Hornia-3-768x515.jpg' },
    { img: 'assets/home/alvarezhornia.com-Pablo-Alvarez-Hornia-768x515.jpg' },
    { img: 'assets/home/alvarezhornia.com-Waterloo-768x515.jpg' },
    ]" [interval]="4000">
</app-carousel>